<p id="notice"><%= notice %></p>

<h1>Listing User Location Changes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_location_changes.each do |user_location_change| %>
      <tr>
        <td><%= user_location_change.user %></td>
        <td><%= user_location_change.location %></td>
        <td><%= link_to 'Show', user_location_change %></td>
        <td><%= link_to 'Edit', edit_user_location_change_path(user_location_change) %></td>
        <td><%= link_to 'Destroy', user_location_change, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User location change', new_user_location_change_path %>
