<p id="notice"><%= notice %></p>

<p>
  <strong>Enable background process:</strong>
  <%= @setting.enable_background_process %>
</p>

<p>
  <strong>Search radius:</strong>
  <%= @setting.search_radius %>
</p>

<p>
  <strong>User:</strong>
  <%= @setting.user %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
