<p id="notice"><%= notice %></p>

<h1>Listing Discount Searches</h1>

<table>
  <thead>
    <tr>
      <th>Query</th>
      <th>Result</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @discount_searches.each do |discount_search| %>
      <tr>
        <td><%= discount_search.query %></td>
        <td><%= discount_search.result %></td>
        <td><%= discount_search.user %></td>
        <td><%= link_to 'Show', discount_search %></td>
        <td><%= link_to 'Edit', edit_discount_search_path(discount_search) %></td>
        <td><%= link_to 'Destroy', discount_search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Discount search', new_discount_search_path %>
